<div class="flex container padded">
  <div class="col-8 right-2 left-2 introduction center">
      <h1>Friday Cocktails</h1>
      <p>On Fridays, we welcome any excuse to practice our mixology
      skills. Here's a collection of our successes, trials, and
      errors.</p>
      <p>Cheers, proost, and enjoy!</p>
  </div>
</div>

<div class="container packery">
<%
  # we know this is "cocktails" but let's be formal
  project_folder = current_page.metadata[:project]
  # get all HTML files at project root
  drink_resources = sitemap.resources.select{ |r| r.path[/#{project_folder}\/([^\/]*).html/] }
  # but then remove anything without a date (like index.html)
  drink_resources.delete_if{ |r| !r.data.date }
  # and sort (newest first)
  drink_resources.sort!{ |x,y| y.data.date <=> x.data.date }

  drink_resources.each_with_index do |drink, i|
%>
  <div class="col-4 packed">
    <% link_to drink do %>
      <div class="card">
        <div class="anchor">
          <div class="preview">
            <img class="static" alt="<%= drink.data.name %>" src="<%= "images/png/#{drink.data.glass}.png" %>">
            <img class="animated" src="<%= "images/gif/#{drink.data.contents}.gif" %>">
          </div>

          <div class="details padded center">
            <h3><%= drink.data.date.strftime('%B %e, %Y') %></h3>
            <h2><%= drink.data.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
