<!-- page content -->
<script src="/pokemonicons/js/svg4everybody.js"></script>
<script>$('document').ready(function(){svg4everybody();});</script>

<div class="pokemon-icons-content">

  <div class="bleed poke-background">
    <div class="flex container pokeball">
      <div class="col-8 left-2 right-2 center introduction">
        <h1 class="poke-title">Pokémon icons</h1>
        <div class="poke-description">Frustrated that we hadn’t yet caught all of the Pokémon in Pokémon Go, we decided to illustrate those cute little monsters instead.</div>
      </div>
      <div class="col-12 center button">
        <a class="download transition" href="#download">Catch 'em below</a>
      </div>
    </div>
  </div>

  <div id="alltheicons" class="flex container">

    <div class="col-8 left-2 right-2 center">
      <h2 class="small-subtitle"><%= data.pokemon.count %> pixel-perfect vector Pokémon</h2>
    </div>

    <% data.pokemon.sort_by{|p| p.number}.each_with_index do |p, i| %>
      <div class="col-2 center">
        <figure>
          <svg>
            <use xlink:href="/pokemonicons/images/pokemon-symbols.svg#<%= p.number %>-<%= p.name %>"></use>
          </svg>
          <figcaption>
            <div class="number"><%= p.number %></div>
            <div class="name"><%= p.name.capitalize %></div>
          </figcaption>
        </figure>
      </div>
    <% end %>

  </div>

  <div class="bleed poke-background top" id="download">
    <div class="flex container">
      <div class="col-8 left-2 right-2 center conclusion">
        <p>Follow the button below for the source files, if you want to use or remix our fan art.</p>
      </div>
      <div class="col-12 center button">
        <a class="download transition" href="https://click.dj/theartificial/icon-source-files">Download files</a>
      </div>
    </div>
  </div>
</div>
