<% wrap_layout 'site_layout' do %>
<% content_for :title, "current_page.title - The Artificial" %>

<% content_for :feedlink_element do %>
<link rel="alternate" type="application/atom+xml" title="The Artificial blog" href="/blog/feed.xml" />
<% end %>

<%
  current_path = current_page.path[/.*(?=\..+$)/]
  # if masthead = find_image(current_path + '/-masthead')
  #   masthead_url = masthead.url
  # else
  #   masthead_url = "/blog/2014/03/17/test/-masthead.png"
  # end
%>

<section id="content">
	<div class="bleed white">
		<div class="flex container">

			<div class="col-8 left-2 right-2">
				<div class="padded">
					<div class="blog-title">
						<h1 class="center"><%= current_page.title %></h1>
						<h5 class="center"><time datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime('%B %e, %Y') %></time> | <%= link_to_person current_page.data.author %></h5>
					</div>
    		</div>
			</div>

			<div class="col-10 left-1 right-1 padded-bottom">
				<div class="padded">
					<article>
		      	<%= yield %>
		    	</article>
				</div>
			</div>

		</div>
	</div>
</section>
<% end %>
