<% wrap_layout 'site_layout' do %>
<% content_for :title, "#{current_page.title} - The Artificial" %>
<% content_for :description, strip_tags(current_article.summary(180)) %>
<%
  logo_url = "https://theartificial.com/images/img_default.png"
  share_meta = blog_preview_meta(current_article, true)
  image_url = share_meta[:url]
  image_width = share_meta[:width].to_s
  image_height = share_meta[:height].to_s

  content_for :image_url, image_url
  content_for :image_width, image_width
  content_for :image_height, image_height
%>
<% content_for :feedlink_element do %>
<link rel="alternate" type="application/atom+xml" title="The Artificial blog" href="/blog/feed.xml" />
<% end %>
<% content_for :json_ld do %>
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "<%= URI.join(config[:site_url], current_resource.url).to_s %>"
    },
    "headline": "<%= current_page.title %>",
    "image": "<%= image_url %>",
    "datePublished": "<%= current_article.date.iso8601 %>",
    "author": {
      "@type": "Person",
      "name": "<%= person_name(current_page.data.author) %>"
    }
    ,
     "publisher": {
      "@type": "Organization",
      "name": "The Artificial",
      "logo": { "type": "ImageObject", "url": "<%= logo_url %>" }
    },
    "description": "<%= strip_tags(current_article.summary(180)) %>"
  }
<% end %>

<section id="content" class="<%= "with-masthead" if current_page.data.masthead %>">
  <% if masthead_url = blog_masthead_url(current_page) %>
  <div class="bleed">
      <div id="masthead"></div>
      <style>
        #masthead { background-image: url('<%= masthead_url %>'); }
      </style>
  </div>
  <% end %>

  <article class="flex container">

    <div class="col-8 left-2 right-2 white">
      <div class="padded">
        <div class="blog-title center">
          <h1 class="title"><%= current_page.title %></h1>
          <div class="label"><time datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime('%B %e, %Y') %></time> | <%= link_to_person current_page.data.author %></div>
        </div>
      </div>
    </div>

    <div class="col-10 left-1 right-1 padded-bottom post-content">
      <div class="padded">
        <article>
          <%= yield %>
        </article>
      </div>
    </div>

  </article>

</section>
<% end %>
