<% wrap_layout 'site_layout' do %>
<% content_for :title, "#{current_page.title} - The Artificial" %>
<% content_for :description, strip_tags(current_article.summary(180)) %>
<%
  if image_url = blog_preview_path(current_article)
    content_for :image, image_url
  end
%>

<% content_for :feedlink_element do %>
<link rel="alternate" type="application/atom+xml" title="The Artificial blog" href="/blog/feed.xml" />
<% end %>

<section id="content" class="<%= "with-masthead" if current_page.data.masthead %>">
  <% if masthead_path = blog_masthead_path(current_page) %>
  <div class="bleed">
      <div id="masthead"></div>
      <style>
        #masthead { background-image: url('<%= masthead_path %>'); }
      </style>
  </div>
  <% end %>

  <article class="flex container">

    <div class="col-8 left-2 right-2 white">
      <div class="padded">
        <div class="blog-title center">
          <h1 class="title"><%= current_page.title %></h1>
          <div class="label"><time datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime('%B %e, %Y') %></time> | <%= link_to_person current_page.data.author %></div>
        </div>
      </div>
    </div>

    <div class="col-10 left-1 right-1 padded-bottom post-content">
      <div class="padded">
        <article>
          <%= yield %>
        </article>
      </div>
    </div>

  </article>

</section>
<% end %>
