<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Artificial" %></title>
      
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "normalize", "base", "header", "footer", "carousel", "editorial", "blog" %>
    <%= javascript_include_tag  "all" %>
    
    <script type="text/javascript" src="//use.typekit.net/cqa8qag.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= feed_tag :atom, "/blog/feed.xml", title: "Atom Feed" %>
  </head>
  
  <body class="<%= page_classes %>">

    <div id="header">
        <div class="column">

            <div class="textlink">
              <div class="logo"><%= nav_link "The Artificial", "/", id: "home" %></div>
            </div>

            <ul class="casestudies">
                <li class="carousel-menu" id="carousel-menu-DDD">
                    <%= nav_link "", "/3dsystems.html", id: "DDD" %>
                </li>
                <li class="carousel-menu" id="carousel-menu-startups">
                    <%= nav_link "", "/startups.html", id: "startups" %>
                </li>
                <li class="carousel-menu" id="carousel-menu-death">
                    <%= nav_link "", "/designfordeath.html", id: "death" %>
                </li>
                <li class="carousel-menu" id="carousel-menu-icon">
                    <%= nav_link "", "/toicon.html", id: "icon" %>
                </li>
                <li class="carousel-menu" id="carousel-menu-pilogs">
                    <%= nav_link "", "/pilogs.html", id: "pilogs" %>
                </li>
            </ul>
            <div class="line"></div>
            <div class="textlink">

              <div class="nav-blog"><%= nav_link "blog", "/blog/", id: "artblog" %></div>  

            </div>
        </div>
    </div>
    <div id="header-spacer"></div>

    <div class="content">
        <%= yield %>
    </div>

    <div id="footer">
      <div class="pale">
        <div class="quarter">
          <h3>Contact us</h3>
          <h4>Clients</h4>
          <p>Want to work with us? We’d love to get to know you and your business.</p>
          <a class="emaillink" href="mailto:collaborate@theartificial.nl">collaborate@theartificial.nl</a>
          <h4>Careers</h4>
          <p>Want to join our team? Drop us a line and show us what you make.</p>
          <a class="emaillink" href="mailto:careers@theartificial.nl">careers@theartificial.nl</a>            
        </div>
        
        <div class="quarter">
          <h3>Our office</h3>
          <h4>Amsterdam</h4>  
          <p>We’re <a href="https://www.facebook.com/veryartificial/page_map">located</a> next to Westerpark, just a twenty minute walk from Amsterdam Centraal Station.</p>
        </div>
            
        <div class="quarter">
            <h3>Keep in touch</h3>
            <h4>Follow us</h4>
            <p>Sign up for our email <a href="http://eepurl.com/QQppf">newsletter</a>, follow us on <a href="https://twitter.com/veryartificial">Twitter</a>, or like us on <a href="https://www.facebook.com/veryartificial">Facebook</a>.</p> 
            <p>Keep up with our work-in-progress on <a href="http://dribbble.com/VeryArtificial">Dribbble</a>.</p>
            <p>Like icons? Consider backing our <a href="https://www.kickstarter.com/projects/gerwitz/to-icon">Kickstarter</a>.</p>               
        </ul>
      </div>

      <div class="quarter">
        <% article = page_articles.first %>
        <h3>From the blog</h3>
        <h4><%= link_to article.title, article %></h4>
        <%= article.summary(180, '…') %>
      </div>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41851947-1', 'theartificial.nl');
      ga('send', 'pageview');
    </script>
  </body>
</html>
