<% wrap_layout :multiple_layout do %>
    

<section class="content">
	<div id="person" class="bleed turquoise">
		<div class="flexcontainer">
			<div class="col-4">
				<div class="padded">
					<h1><%= get_logo_svg(current_page.path.split('/').last.gsub(/.html$/, '')) %></h1>
				</div>
			</div>
			
			<div class="col-7 left-1">
				<div class="padded">
					<h1><%= current_page.data.title %></h1>
					<h5><a href="https://linkedin.com/in/<%= current_page.data.linkedin %>">linkedin</a> | <a href="https://twitter.com/<%= current_page.data.twitter %>">twitter</a></h5>
				</div>
				<div class="padded">
					<h3><%= "&ldquo;#{current_page.data['quote']}&rdquo;" %></h3>
					<%= yield %>
				</div>
				<div class="padded">
					<h4>Logo Story</h4>
					<%= Tilt['markdown'].new {current_page.data['logo-story']}.render %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container packery padded-bottom">
		<% articles = blog.articles.select {|a| (a.data.author == current_page.path.split('/').last.gsub(/.html$/, '')) and (a.data.category != 'links') } %>
			<% if articles.length > 0 %>
	    	<% articles.take(3).each do |article, i| %>
				<%
				  article_path = article.path[/.*(?=\..+$)/]
				  if preview = find_image(article_path + '/-preview')
				    preview_url = preview.url
				  else
				    preview_url = "/blog/2014/03/17/test/-preview.png"
				  end
				%>
		<div class="col-4 packed">
			<div class="card blog-preview">
				<div class="double-padded">
					<h5><%= link_to article.data.category, article %></h5>
					<h3><%= link_to article.title, article %></h3>
					<!-- <%= article.summary(180, '…') %> -->
					<p><%= sitemap.find_resource_by_path("/people/#{article.data.author}.html").data.title %></p>
					<p><%= article.date.strftime('%B %e, 0%Y') %></p>
				</div>
      </div>
    </div>
    		<% end %>
    	<% else %>
    		
      <% end %>
</div>

</section>    
<% end %>
