<% wrap_layout :layout do %>
    
<style>

  #masthead {
    overflow: hidden;
    height: 320px;
    width: 100%;
    background: url('images/people-shannon-masthead.png') no-repeat center center;
    background-size: cover;
  }

    #shannon {
        background:url('images/people-shannon-1.png') no-repeat center center;
        background-size: 600px 400px;
    }

    #shannon2 {
        background:url('images/shannon2.png') no-repeat center center;
        background-size: 600px 400px;
    }

</style>

  <div id="masthead">
  </div>

<div id="story">
  <div class="pale"> 

    <div class="row">
      <div class="image right" id="<%= current_page.data.id %>"></div>
      <div class="copy right">
        <p class="gigantic condensed text-grey"><%= current_page.data.name %></p>
        <p class="small"><a href="https://linkedin.com/in/<%= current_page.data.linkedin %>" target="blank">linkedin</a>  |  <a href="https://twitter.com/<%= current_page.data.linkedin %>" target="blank">twitter</a></p>
        <p class="small"><%= yield %></p>
      </div>
    </div>      
    
    <div class="row">
      <div class="image left" id="<%= current_page.data.name %>2"></div>
      <div class="copy bg-grey left">
        <p class="gigantic condensed">Recent posts</p>
        <h4><a href="...">Mountain Muscle Organic Dye</a></h4> 
		<p class="small">Vector chalk monsters white board scrub dance bee sequi throwback.</p>
        <h4><a href="...">Dot grid icon-a-palooza </a></h4> 
		<p class="small">Morning meeting beautiful flashback friday chai mocha electric insect tennis.  </p>
        <h4><a href="...">Quantified Smeg Pour-over Flooding</a></h4> 
		<p class="small">Climax chasing apple canal vodka freezer little printer pixel sewing machine inappropriate drill oh sketch.</p>
      </div>  
    </div>     
    
  </div>
</div>  
    
<% end %>
