<% wrap_layout 'site_layout' do %>

<section class="content">
	<div id="person" class="bleed turquoise">
		<div class="flex container">
			<div class="col-4">
				<div class="padded">
					<h1><%= get_logo_svg(current_page.path.split('/').last.gsub(/.html$/, '')) %></h1>
				</div>
			</div>

			<div class="col-7 left-1">
				<div class="padded">
					<h1><%= current_page.data.title %></h1>
					<h5><a href="https://linkedin.com/in/<%= current_page.data.linkedin %>">linkedin</a> | <a href="https://twitter.com/<%= current_page.data.twitter %>">twitter</a></h5>
				</div>
				<div class="padded">
					<h3><%= "&ldquo;#{current_page.data['quote']}&rdquo;" %></h3>
					<%= yield %>
				</div>
				<div class="padded">
					<h4>Logo Story</h4>
					<%= Tilt['markdown'].new {current_page.data['logo-story']}.render %>
				</div>
			</div>
		</div>
	</div>

	<div class="container packery padded-bottom">
		<% articles = blog.articles.select {|a| (a.data.author == current_page.path.split('/').last.gsub(/.html$/, '')) and (a.data.category != 'links') } %>
			<% if articles.length > 0 %>
	    	<% articles.take(3).each do |article, i| %>
          <%= partial(:article_card, locals: { article: article }) %>
    		<% end %>
    	<% else %>
    		<!-- no blog posts -->
      <% end %>
</div>

</section>
<% end %>
