<% wrap_layout :layout do %>
    
<style>
  #masthead {
    background-image: url('../people/<%= current_page.data.id %>/masthead.png');
  }

  #headshot {
    background-image: url('../people/<%= current_page.data.id %>/headshot.png');
  }

  #logo {
    background-image: url('../people/<%= current_page.data.id %>/logo.png');
  }

  #blog {
    background-image: url('../people/<%= current_page.data.id %>/blog.png');
  }
</style>

  <div id="masthead">
  </div>

<div id="story">
  <div class="pale"> 

    <div class="row">
      <div class="image right" id="headshot"></div>
      <div class="copy right">
        <p class="gigantic condensed text-grey"><%= current_page.data.title %></p>
        <p class="links small"><a href="https://linkedin.com/in/<%= current_page.data.linkedin %>" target="blank">linkedin</a>  |  <a href="https://twitter.com/<%= current_page.data.linkedin %>" target="blank">twitter</a></p>
        <p class="small"><%= yield %></p>
      </div>
    </div>

    <div class="row">
      <div class="image left" id="secondary"></div>
      <div class="copy bg-grey left">
        <% articles = blog.articles.select {|a| (a.data.author == current_page.path.split('/').last.gsub(/.html$/, '')) and (a.data.category != 'links') } %>
        <% if articles.length > 0 %>
          <p class="gigantic condensed">Recent posts</p>
          <% articles.take(3).each do |article, i| %>
            <h4>
              <%= link_to article.title, article %>
            </h4>
            <p class="summary">
              <%= article.summary(180, '…') %>
            </p>
          <% end %>
        <% else %>
          <%= current_page.data.title %> hasn't posted to the blog yet.
        <% end %>
      </div>  
    </div>
    
  </div>
</div>
    
<% end %>
