<% wrap_layout :layout do %>
    
<style>
  #masthead {
    background-image: url('<%= "#{current_page.url[/.*(?=\..+$)/]}/masthead.png" %>');
  }
  #headshot {
    background-image: url('<%= "#{current_page.url[/.*(?=\..+$)/]}/headshot.png" %>');
  }
  #quote {
    background-image: url('<%= "#{current_page.url[/.*(?=\..+$)/]}/quote.png" %>');
  }
  #logo {
    background-image: url('<%= "#{current_page.url[/.*(?=\..+$)/]}/logo.png" %>');
  }
  #secondary {
    background-image: url('<%= "#{current_page.url[/.*(?=\..+$)/]}/blog.png" %>');
  }
</style>

  <div id="masthead">
  </div>

<div id="story">
  <div class="pale"> 

    <div class="row">
      <div class="image right" id="headshot"></div>
      <div class="copy left">
        <p class="gigantic condensed text-grey"><%= current_page.data.title %></p>
        <p class="links small"><a href="https://linkedin.com/in/<%= current_page.data.linkedin %>">linkedin</a> | <a href="https://twitter.com/<%= current_page.data.twitter %>">twitter</a></p>
        <span><%= yield %></span>
      </div>
    </div>

    <div class="row">
      <div class="image left" id="quote"></div>
      <div class="copy right bg-turquoise quote">
        <%= Tilt['markdown'].new { "&ldquo;#{current_page.data['quote']}&rdquo;" }.render %>
      </div>
    </div>

    <div class="row">
      <div class="copy left">
        <p class="gigantic condensed">Logo story</p>
        <%= Tilt['markdown'].new {current_page.data['logo-story']}.render %>
      </div>
      <div class="image right" id="logo"></div>
    </div>

    <div class="row">
      <div class="image left" id="secondary"></div>
      <div class="copy bg-grey right">
        <% articles = blog.articles.select {|a| (a.data.author == current_page.path.split('/').last.gsub(/.html$/, '')) and (a.data.category != 'links') } %>
        <% if articles.length > 0 %>
          <p class="gigantic condensed">Recent posts</p>
          <% articles.take(3).each do |article, i| %>
            <h4>
              <%= link_to article.title, article %>
            </h4>
            <p class="summary">
              <%= article.summary(180, '…') %>
            </p>
          <% end %>
        <% else %>
          <%= current_page.data.title %> hasn't posted to the blog yet.
        <% end %>
      </div>
    </div>
    
  </div>
</div>
    
<% end %>
