<% wrap_layout :layout do %>
    
<style>

  #masthead {
    overflow: hidden;
    height: 320px;
    width: 100%;
    background: url('../images/people-<%= current_page.data.id %>-masthead.png') no-repeat center center;
    background-size: cover;
  }

    #headshot {
        background:url('../images/people-<%= current_page.data.id %>-1.png') no-repeat center center;
        background-size: 600px 400px;
    }

    #secondary {
        background:url('../images/people-<%= current_page.data.id %>-2.png') no-repeat center center;
        background-size: 600px 400px;
    }

    .links {
      margin: -40px 0 35px;
    }

    .summary{
        font-size: .9em;
        line-height: 1.4em;
        margin-top: -3px;
    }

</style>

  <div id="masthead">
  </div>

<div id="story">
  <div class="pale"> 

    <div class="row">
      <div class="image right" id="headshot"></div>
      <div class="copy right">
        <p class="gigantic condensed text-grey"><%= current_page.data.name %></p>
        <p class="links small"><a href="https://linkedin.com/in/<%= current_page.data.linkedin %>" target="blank">linkedin</a>  |  <a href="https://twitter.com/<%= current_page.data.linkedin %>" target="blank">twitter</a></p>
        <p class="small"><%= yield %></p>
      </div>
    </div>      
    
    <div class="row">
      <div class="image left" id="secondary"></div>
      <div class="copy bg-grey left">
        <p class="gigantic condensed">Recent posts</p>
        <h4><a href="...">Mountain Muscle Organic Dye</a></h4> 
        		<p class="summary">Vector chalk monsters white board scrub dance bee sequi throwback.</p>
        <h4><a href="...">Dot grid icon-a-palooza </a></h4> 
        		<p class="summary">Morning meeting beautiful flashback friday chai mocha electric insect tennis.  </p>
        <h4><a href="...">Quantified Smeg Pour-over Flooding</a></h4> 
        		<p class="summary">Climax chasing apple canal vodka freezer little printer pixel sewing machine inappropriate drill oh sketch.</p>
      </div>  
    </div>     
    
  </div>
</div>  
    
<% end %>
