<% wrap_layout :artificial_layout do %>

<% content_for :javascript_tags do %>
	<%= javascript_include_tag 'jquery.color-2.1.2' %>
<% end %>

<% content_for :stylesheet_tags do %>
	<link href="https://fonts.googleapis.com/css?family=Barlow:300,500,700|Noto+Serif:400,700" rel="stylesheet">
<% end %>

<%# see https://github.com/audreyr/favicon-cheat-sheet %>
<% content_for :favicon_element do %>
	<link rel="icon" href="/images/favicon-16.png" sizes="16x16">
	<link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">

	<meta name="theme-color" content="#CB2853">
<% end %>

<% content_for :title, "The Artificial" unless content_for?(:title) %>
<% content_for :description, "The Artificial is a UX design agency that works on connected products around the world." unless content_for?(:description) %>
<% content_for :keywords, "design, agency" %>
<% content_for :url, URI.join(config[:site_url], current_resource.url).to_s %>
<% content_for :image, "https://www.theartificial.com/images/img_default.png" unless content_for?(:image) %>

<% content_for :google_tracking_id, "UA-41851947-1" %>

<nav id="header">
	<div class="flex container topbar">
		<div class="col-4">
			<div class="padded-lr">
				<div id="logo">
					<a href="/index.html">The Artificial</a>
				</div>
			</div>
		</div>
		<div id="nav-primary" class="col-8">
			<div class="padded-lr">
				<ul>
					<li><%= nav_link("work", "/work/") %></li>
					<li><%= nav_link("laboratory", "/laboratory/") %></li>
					<li><%= nav_link("about us", "/about/") %></li>
					<li><%= nav_link("blog", "/blog/") %></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<% if current_resource.url != '/' %>
	<div class="underheader"></div>
<% end %>

<%= yield %>

<% end %>
