---
title: Artificers
nofeed: true
---

<section class="content">
	<div class="bleed turquoise-palegrass">
		<div class="section">
			<div class="flex container double">
				<div class="col-12">
					<div class="padded center">
						<h2 class="subtitle">We were The Artificial:</h2>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'shannon', {class: 'dark-fill'} %>
						<p><%= link_to_person 'shannon', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'hans', {class: 'dark-fill'} %>
						<p><%= link_to_person 'hans', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'jo', {class: 'dark-fill'} %>
						<p><%= link_to_person 'jo', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'carol', {class: 'dark-fill'} %>
						<p><%= link_to_person 'carol', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'susana', {class: 'dark-fill'} %>
						<p><%= link_to_person 'susana', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'ariane', {class: 'dark-fill'} %>
						<p><%= link_to_person 'ariane', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'katinka', {class: 'dark-fill'} %>
						<p><%= link_to_person 'katinka', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'natalia', {class: 'dark-fill'} %>
						<p><%= link_to_person 'natalia', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'nathalie', {class: 'dark-fill'} %>
						<p><%= link_to_person 'nathalie', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'kamila', {class: 'dark-fill'} %>
						<p><%= link_to_person 'kamila', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center dark-text person-logo">
						<%= link_to_person_logo 'manjari', {class: 'dark-fill'} %>
						<p><%= link_to_person 'manjari', {class: 'dark-text'} %></p>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>
