<!-- page content -->
<section id="content">

	<div class="bleed grape-paletulip">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/3DS-consumer_cover.png" alt="3D Systems consumer range">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="label">Client</p>
					<p class="description">3D Systems</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="label">Problem</p>
					<p class="description">While planning the launch of their next generation of consumer-facing products, 3D Systems approached The Artificial to design a suite of apps adhering to a single visual and interaction language.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Designing an introduction to "future" technologies</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>For many of our users, these apps would serve as an introduction to 3D printing, a technology previously only for professionals or hardcore tinkerers. We needed to develop a design language that went beyond user friendly to ensure a positive experience despite the finickiness of the technology.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/3DS-consumer_layers.jpg" alt="design guidelines documentation">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/3DS-consumer_iconography.jpg" alt="interface flow diagram">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Highlighting magic moments for users</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>3D Systems not only wanted to introduce new users to 3D printing, they also wanted to establish themselves as forerunners in the field to anyone who was familiar with the process. To do this, we highlighted the moments of the experience where the 3D Systems algorithms did what none of the competitors could.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/3DS-consumer_flows.jpg" alt="interface screen flow diagram">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Creating simple and precise controls</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>The final solution was a minimal and flat interface, providing contrast to the 3D objects being manipulated within. Each app's functionality was limited to provide the user with clear purpose. Every control and icon was carefully crafted to work across interfaces, ranging from scanning to printing and beyond.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "IconDesign" %>
					<p>Icon Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "FlowDiagram" %>
					<p>Flow Diagram</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignGuidelines" %>
					<p>Design Guidelines</p>
				</div>
			</div>
		</div>
	</div>

</section>
