<!-- page content -->
<section id="content">

	<div class="bleed sapphire-paleturquoise">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/3DS-professional_cover.png" alt="3D Systems professional interfaces">
				</div>
			</div>
		</div>
	</div>

	<div class = "bleed pale-sapphire">
		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-sapphire-text label">Client</p>
					<p class="darkest-sapphire-text description">3D Systems</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-sapphire-text label">Problem</p>
					<p class="darkest-sapphire-text description">With the launch of their new professional grade SLS and SLA machinery, 3D Systems engaged The Artificial to redesign their existing on-machine interfaces to be touch compatible. The two printers, despite employing different printing techniques and processes, were an opportunity for 3D Systems to align their digital interfaces under a single cohesive design language.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Supporting professional users with digital tools</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Machine operators spend hours every day with these interfaces, the data they view is complex, and the controls are numerous to offer precise control. In addition to the complexity of the general interaction, the design also had to accomodate many procedural dependencies and safety restrictions. For these products, there were no edge cases, and the least likely scenerarios had to be given as much attention as the most common.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/3DS-professional_SME.png" alt="notes from expert interviews">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Creating a solution of carefully interlocking pieces</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>We created a series of cards and tiles to hold the various visualizations and controls—a single system that could expand and reorganize depending on the type of machine and use scenario. Through this process, we worked closely with machine operators and developers to ensure no functionality was forgotten and that the nuances of each machine were appropriately captured.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/3DS-professional_ui.jpg" alt="user interface">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/3DS-professional_range.jpg" alt="range of UI across devices">
			</div>
		</div>
 	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Documenting our learnings for consistency in future development</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Having tested the design with two different products, we could confidently propose solutions to be carried forward to other professional- and production-grade 3D printing machines. Along with documenting solutions for controls and UI patterns, we also captured rules for visualizing 3D objects on screen.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>project artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "SMEinterviews" %>
					<p>expert interviews</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "interactionmodel" %>
					<p>interaction model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uidesign" %>
					<p>UI design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "iconography" %>
					<p>iconography</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "flowdiagram" %>
					<p>flow diagram</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "designextension" %>
					<p>design extension</p>
				</div>
			</div>
		</div>
	</div>

</section>
