<!-- page content -->
<section id="content">

	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/monolith_cover02.png" alt="Monolith dashboard">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container padded-bottom">
		<div class="col-12" >
			<div class="extra-padded">
				<h3 class="turquoise-text">When Monolith approached The Artificial, they knew their product was lacking clarity, but they were unable to pinpoint the next steps in improving their product. We helped them evolve their in-store retail optimization tool into a suite of solutions that addresses their customers' specific needs.</h3>
			</div>
		</div>
		<div class="col-7">
			<div class="padded">
				<h2>Understanding the user</h2>
				<p>In order to design the product in a Monolith user's brainspace, we created personas and user stories based off the knowledge we gained from our collaborative kickoff activities. This user-driven approach led to the design of a product better suited to the customer’s need.</p>
				<h2>Creating clarity</h2>
				<p>How does the tool cater to those who are looking to take action and those who are looking to review data? Our answer to accommodating both was to partition Monolith into a suite of solutions, with action-led and data-led tools both feeding in and supporting each other in one coherent UI.</p>
			</div>
		</div>
		<div class="col-5">
			<div class="padded">
				<img src="images/monolith_kickoff.jpg" alt="collaborative kickoff activities">
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/monolith_suite.png" alt="a suite of solutions">
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<h2>Keeping future development in mind</h2>
				<p>Since Monolith is planning to enhance their tool's capabilities in the future, our design intentionally leaves room for future evolutions. We delivered a UX walkthrough and design component guide as a model for future evolutions and as a tool to communicate with developers. </p>
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/monolith_screens.png" alt="monolith screens">
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<h2>project artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "gesturaldesign" %>
					<p>gestural design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "personas" %>
					<p>personas</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "userstories" %>
					<p>user stories</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "interactionmodel" %>
					<p>interaction model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uidesign" %>
					<p>UI design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uitoolkit" %>
					<p>UI toolkit</p>
				</div>
			</div>
		</div>
	</div>

</section>
