<!-- page content -->
<section id="content">

	<div class="bleed pumpkin-paledandelion">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/monolith-UX_cover.png" alt="Monolith dashboard">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-turquoise-text label">Client</p>
					<p class="darkest-turquoise-text description">Monolith</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-turquoise-text label">Problem</p>
					<p class="darkest-turquoise-text description">Monolith approached The Artificial to improve the clarity of their retail optimization service. We established a foundation that brings focus to users’ specific needs with a coherent suite of solutions without compromising the power of their service.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Integrating artificial intelligence</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">One of Monolith’s defining qualities is the artificial intelligence that provides actionable insights throughout the system. We designed a system that allowed the AI capabilities to shine at their current state, while also considering more meaningful integration for when qbrick gets smarter.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Empowering users with data</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">Our conversational method of visualizing data allows users to tell the product what data they want compared by using type-and-select fields. By eliminating the need for numerous selection fields and confusing categorizations, we shift the nuisance of interpretation from the user to the product, leaving our users free to concentrate on improvements.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/monolith-UX_kickoff.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/monolith-UX_sketch.jpg" alt="interface flow diagram">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">A tool for evaluators and action-takers</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">How does the tool cater to those who are looking to take action and those who are looking to evaluate data? Our answer accommodates both by partitioning Monolith into a suite of solutions, with action-led and data-led tools both feeding in and supporting each other in one coherent UI. We ensured that the UI  differentiates between the separate working spaces while focusing the user on the task at hand.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-12">
			<div class="padded">
				<img src="images/monolith-UX_screens2.jpg" alt="monolith screens">
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Personas" %>
					<p>Personas</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "FeatureDefinition" %>
					<p>Feature Definition</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "GesturalDesign" %>
					<p>Gestural Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ComponentLibrary" %>
					<p>Component Library</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignGuidelines" %>
					<p>Design Guidelines</p>
				</div>
			</div>
		</div>
	</div>

</section>
