<!-- page content -->
<section id="content">

	<div class="bleed sapphire-palegrape">
		<div class="flex container">
			<div class="col-6">
				<div class="padded">
					<img src="images/VanMoof-AppRedesign_cover.png" alt="VanMoof App Redesign">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="label">Client</p>
					<p class="description">VanMoof</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="label">Problem</p>
					<p class="description">Working closely with VanMoof, we created an app that supported the user in having the best possible city cycling experience with the SmartBike – from unboxing to unlocking to recovering a stolen bike.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<img src="images/VanMoof-AppRedesign_immersion_01.jpg" alt="Out of the Box">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/VanMoof-AppRedesign_immersion_02.jpg" alt="So Many Parts">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/VanMoof-AppRedesign_immersion_03.jpg" alt="Trouble Assembling">
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We got to know our users’ experience with a test ride.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">To better understand the needs of our users, we immersed ourselves in the experience of setting up and riding a VanMoof through the city. This helped us to identify pain points that we could improve through the app’s redesign.</p>
				<p class="large-body">We then determined a handful of features we might want to add to the existing experience. We explored these additions as well as the interaction model and visual design through a series of design gestures.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-12">
			<div class="padded">
				<img src="images/VanMoof-AppRedesign_gesturaldesign.png" alt="Gestural Design Explorations">
			</div>
		</div>
	</div>

	<div class = "bleed cool-grey-10">
		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="subtitle">We created a design that was meant not to be used.</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p>The goal of the app was not to create a great experience, but rather to support the great experience of riding. So we created a series of screens that was meant to help the user during key moments off the bike, and to get out of the way once he started pedaling.</p>
				</div>
			</div>
		</div>
		<img src="images/VanMoof-AppRedesign_interfacedesign.png" alt="Refining a Design Direction">
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We worked with developers to ensure our design could be built.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>To communicate an experience with an integrated chat interface to developers, we built two diagrams. The flow diagram showed how the user moves through screens, while a decision tree how the user engages with a chat bot for help.</p>
				<p>To wrap up the project, we created design guidelines to communicate the rationale behind our decisions so that VanMoof’s internal team could move forward with confidence when adding new features.</p>
			</div>
		</div>
	</div>

	<div class="flex container padded-bottom">
		<div class="col-6">
			<div class="padded">
				<img src="images/VanMoof-AppRedesign_uitoolkit.png" alt="UI Toolkit">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/VanMoof-AppRedesign_flowdiagram.png" alt="Flow Diagrams and Decision Trees">
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ProductAudit" %>
					<p>Product Audit</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Immersion" %>
					<p>Immersion</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ExperiencePrinciples" %>
					<p>Experience Principles</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "GesturalDesign" %>
					<p>Gestural Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ComponentLibrary" %>
					<p>Component Library</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "FlowDiagram" %>
					<p>Flow Diagram</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignGuidelines" %>
					<p>Design Guidelines</p>
				</div>
			</div>
		</div>
	</div>

</section>
