<!-- page content -->
<section id="content">


	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/avent-ugrow_cover.png" alt="uGrow central app">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-sapphire-text label">Client</p>
					<p class="darkest-sapphire-text description">Philips AVENT</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-sapphire-text label">Problem</p>
					<p class="darkest-sapphire-text description">Philips AVENT was developing a connected parenting platform complete with products and service. We helped create the central experience of that platform.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We worked across stakeholders to define a strategy.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Philips wanted to create a scientific yet emotional experience to guide parents through their babies' development. We started by working closely with the internal team to define their product, balancing the needs of business stakeholders with the desires of users, all within the constraints of a tight development schedule.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-ugrow_strategy.jpg" alt="using so many post-its">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-ugrow_screens.jpg" alt="overview of screen designs">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We designed one interface to suit many desires.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Targeting mothers and fathers of different parenting styles rendered an often conflicted set of requirements. One of the most difficult challenges was designing a multi-faceted app that was easily navigable despite complex relationships between qualitative data, quantitative data, and advice content.</p>
			</div>
		</div>
	</div>

	<div class = "bleed grey-10">
		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="subtitle">We conveyed trust and precision through the UI.</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p>We created a design language that would appropriately show the feeling of baby, while maintaining the professional look of Philips AVENT. The UI conveys trust and precision without being overly technical, and employs user uploaded content to add an emotional layer. Feeling that the UI still needed more delight, we created a handful of novel animations to bring more personality to the experience.</p>
				</div>
			</div>
		</div>


		<img src="images/avent-ugrow_phone.jpg" alt="Philips AVENT uGrow">
	</div>
	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We created documentation to bring consistency to a team in flux.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>The project team doubled in size several times throughout the duration of the project, with many people coming and going (some because they were having babies of their own). To minimize the risk of losing the details, we adjusted our process to include lightweight yet comprehensive documentation of screens, flows, and animations. Ultimately, we handed everything over to the in-house team so that they could own the future of the uGrow app.</p>
			</div>
		</div>
	</div>


	<div class="flex container">
		<div class="col-6 left-3 right-3">
			<div class="padded">
				<img src="images/avent-ugrow_animation.gif" alt="uGrow app overview">
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<h2>project artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "competitiveanalysis" %>
					<p>competitive analysis</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "personas" %>
					<p>personas</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "experienceprinciples" %>
					<p>experience principles</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "conceptgeneration" %>
					<p>concept generation</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "experiencejourney" %>
					<p>experience journey</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "conceptualmodel" %>
					<p>conceptual model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "interactionmodel" %>
					<p>interaction model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "keyscenarios" %>
					<p>key scenarios</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "moodboards" %>
					<p>moodboards</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "gesturaldesign" %>
					<p>gestural design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "informationarchitecture" %>
					<p>information architecture</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uidesign" %>
					<p>UI design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uitoolkit" %>
					<p>UI toolkit</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "motionstudies" %>
					<p>motion studies</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "flowdiagram" %>
					<p>flow diagram</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "designguidelines" %>
					<p>design guidelines</p>
				</div>
			</div>
		</div>
	</div>

</section>
