---
title: uGrow Smart Baby Monitor
date: 2014-01-18
snippet: "designing the app for a smart baby monitor"
thumbnail: avent-compass_cover.png
color: tulip-palepumpkin
order: 900
---
<section id="content">

	<div class="bleed tulip-palepumpkin">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/avent-compass_cover.png" alt="Philips uGrow smart baby monitor">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-sapphire-text label">Client</p>
					<p class="darkest-sapphire-text description">Philips AVENT</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-sapphire-text label">Problem</p>
					<p class="darkest-sapphire-text description">We worked with Philips to design the app and choreograph the user experience for a connected baby monitor.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">From requirements to experience</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">We organized and prioritized a long series of features to create a simple interface that focused on watching and engaging the baby, while having more advanced tracking features readily available with a simple swipe.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-compass_library.jpg" alt="component library">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/avent-compass_model.jpg" alt="interaction model">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Guidance for the future</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">The uGrow Smart Baby Monitor app was the first app from Philips Avent, and we wanted to not only establish but also to document design patterns and principles. We did this via component libraries and design guidelines that could be applied to future versions of the uGrow Smart Baby Monitor or more broadly to future apps in the uGrow ecosystem.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/avent-compass_inuse.jpg" alt="uGrow Smart Baby Monitor app">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Ensuring quality through development</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">We created thorough documentation to communicate the experience to developers and quality assurance engineers. We also worked closely with offshore app developers to capture discrepencies and find new solutions where the existing ones weren't technically possible.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Moodboards" %>
					<p>Moodboards</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "GesturalDesign" %>
					<p>Gestural Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionArchitecture" %>
					<p>Interaction Architecture</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ExperiencePrinciples" %>
					<p>Experience Principles</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ComponentLibrary" %>
					<p>Component Library</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignGuidelines" %>
					<p>Design Guidelines</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignAssurance" %>
					<p>Design Assurance</p>
				</div>
			</div>
		</div>
	</div>

</section>
