---
title: Our Work
noindex: true
---
<!-- page content -->
<section id="content">
	<div class="bleed">
		<div class="flex container">
			<div class="col-12">
				<div class="padded section-title">
					<h1 class="title">Our Work</h1>
					<div class="small-body">Sometimes with clients, sometimes self-motivated</div>
				</div>
			</div>
		</div>

	<!-- cards -->
		<div class="container packery padded-bottom">

			<%
	      work_folder = current_page.path
				work_folder = current_page.path.match(/([^\/]*)\/.*/)[1]
	      # get all HTML files at project root
	      work_resources = sitemap.resources.select{ |r| r.path[/#{work_folder}\/([^\/]*).html/] }
	      # but then remove anything without a date (like this index.html)
	      work_resources.delete_if{ |r| !r.data.date }
	      work_resources.sort_by!{ |r| r.data.order }
%>
<h1>[<%= current_page.path %>|<%= work_folder %>]</h1>
<%
	      work_resources.each_with_index do |work, i|
	        title = work.data.title
	        snippet = work.data.snippet
					color = work.data.color
	        thumbnail = "images/#{work.data.thumbnail}"
	    %>

			<div class="col-4 packed">
	      <% link_to work do %>
					<div class="card case-study center <%= color %>">
	          <div class="padded">
							<img src="<%= thumbnail %>">
							<h3 class="small-subtitle"><%= title %></h3>
							<div class="card-rule"></div>
							<p class="snippit"><%= snippet %></p>
	          </div>
	         </div>
	       <% end %>
	     </div>
	     <% end %>

		</div>
	</div>

</section>
