<!-- page content -->
<section id="content">

	<div class="bleed sapphire-palegrape">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/knowledgesharing_cover.png" alt="Knowledge sharing platform">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-dandelion-text label">Client</p>
					<p class="darkest-dandelion-text description">A Secretive Startup</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-dandelion-text label">Problem</p>
					<p class="darkest-dandelion-text description">A London-based venture approached The Artificial with an idea for a knowledge sharing platform with a robust set of features. We worked with them to turn this long list of features into a handful of experiences that were easy for users to understand.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Going from nothing to something</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">Knowing that our client had a limited budget and that the experience we designed would need customization for each organization that adopted it, we used an ambitious design approach that focused on getting a baseline design to developers as quickly as possible.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-4">
			<div class="padded">
				<img src="images/knowledgesharing_workshop.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/knowledgesharing_layers.jpg" alt="interface flow diagram">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/knowledgesharing_guidelines.jpg" alt="design guidelines documentation">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Mapping functionality to the user experience</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">We started by relating functionality to terminology, connecting the business case to the user experience. From here, we moved directly into a series of functional sketches to get the development track up and running before we fleshed out details like color and iconography. We then biult a series of screen templates, reusing whenever possible to reduce the development effort.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/knowledgesharing_inuse.jpg" alt="interface design">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Designing before the OS launch</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">We took on this project just as iOS 7 had been announced. Despite having only seen Apple's screenshots, we prepared an application with a look and feel appropriate for the new operating system. With a changing foundation, thorough system documentation was paramount, and we created a set of guidelines that could easily be updated as necessary design changes were made.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ConceptualModel" %>
					<p>Conceptual Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionArchitecture" %>
					<p>Interaction Architecture</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "KeyScenarios" %>
					<p>Key Scenarios</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignGuidelines" %>
					<p>Design Guidelines</p>
				</div>
			</div>
		</div>
	</div>

</section>
