---
title: Monolith Retail Analytics
date: 2015-04-06
snippet: "evolving and refining a product one bite at a time"
thumbnail: monolith-visual_cover.png
color: turquoise-palegrass
order: 500
---
<section id="content">

	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/monolith-visual_cover.png" alt="Monolith dashboard">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-turquoise-text label">Client</p>
					<p class="darkest-turquoise-text description">Monolith</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-turquoise-text label">Problem</p>
					<p class="darkest-turquoise-text description">When Monolith approached The Artificial, they were still at the early phases of developing their product, a tool for retailers to optimize their in-store conversion. A traditional project approach wasn't feasable, so we did a small series of sparring sessions instead.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Exploring options to find the right fit</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">Monolith uses one branded visualization to summarize a retailer's performance. More than a logo or a color palette, this visualization represents their brand. We did a series of quick iterations to explore that combination of value and recognition.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-4">
			<div class="padded">
				<img src="images/monolith-visual_explorations.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/monolith-visual_workshop.jpg" alt="interface flow diagram">
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/monolith-visual_guidelines.jpg" alt="design guidelines documentation">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Finding consistency</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">A complicated interface with multiple visualizations can easily confuse users by reusing visual techniques to mean different things. We held a workshop with Monolith to map what they wanted to say with their interface to unique and consistent methods of saying it.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/monolith-visual_ui.jpg" alt="interface design">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Creating visualization guidelines</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">After the workshop, we captured our decisions in a series design guidelines for the in-house designers and developers to apply to the tool. Rather than focusing on concepts like color and iconography, the guidlines were based on concepts like confidence, comparison, and change.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ParticipatoryDesign" %>
					<p>Participatory Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DataVisualization" %>
					<p>Data Visualization</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "MotionDesign" %>
					<p>Motion Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignGuidelines" %>
					<p>Design Guidelines</p>
				</div>
			</div>
		</div>
	</div>

</section>
