<!-- page content -->
<section id="content">

	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/monolith_cover02.png" alt="Monolith dashboard">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container padded-bottom">
		<div class="col-12">
			<div class="extra-padded">
				<h3 class="turquoise-text">Monolith approached The Artificial to improve the clarity of their retail optimization service. We established a foundation that brings focus to users’ specific needs with a coherent suite of solutions without compromising the power of their service.</h3>
			</div>
		</div>

		<div class="col-6">
			<div class="padded">
				<h2>Integrating artificial intelligence</h2>
				<p>One of Monolith’s defining qualities is the artificial intelligence that provides actionable insights throughout the system. We designed a system that allowed the AI capabilities to shine at its current state, while also considering deeper integration for when qbrick gets smarter. </p>
				<h2>Presenting big data</h2>
				<p>Our conversational method of visualizing data allows users to tell the product what data they want compared by using type-and-select fields. By eliminating the need for numerous selection fields and confusing categorizations, we shift the nuisance of interpretation from the user to the product, leaving our users free to concentrate on improvements.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="extra-padded">
				<img src="images/monolith_sketch.jpg" alt="monolith sketches">
			</div>
		</div>



		<div class="col-12">
			<div class="padded">
				<h2>Creating clarity</h2>
				<p>How does the tool cater to those who are looking to take action and those who are looking to evaluate data? Our answer accommodates both by partitioning Monolith into a suite of solutions, with action-led and data-led tools both feeding in and supporting each other in one coherent UI. We ensured that the UI  differentiates between the separate working spaces while focusing the user on the task at hand.</p>

			</div>
		</div>

		<div class="col-12">
			<div class="padded">
				<img src="images/monolith_screens2.jpg" alt="monolith screens">
			</div>
		</div>

	</div>

	<div class="bleed artifacts">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<h2>project artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "gesturaldesign" %>
					<p>gestural design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "personas" %>
					<p>personas</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "userstories" %>
					<p>user stories</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "interactionmodel" %>
					<p>interaction model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uidesign" %>
					<p>UI design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uitoolkit" %>
					<p>design component guide</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "designguidelines" %>
					<p>UX walkthrough</p>
				</div>
			</div>
		</div>
	</div>

</section>
