---
title: Philips FaceSmart
date: 2013-09-01
snippet: "helping men understand their skin"
thumbnail: facesmart_cover.png
color: pumpkin-paledandelion
order: 150
---
<section id="content">

	<div class="bleed sapphire-palegrape">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/facesmart_cover.png" alt="Smart skin analysis">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-dandelion-text label">Client</p>
					<p class="darkest-dandelion-text description">Philips Male Grooming</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-dandelion-text label">Problem</p>
					<p class="darkest-dandelion-text description">Smart face care is a range of products including a FaceSmart shaver and cleansing brush, a SkinAnalyst sensor and an iPhone app. We worked together with Philips Male Grooming to create an app to support users in measuring and improving their facial skin hydration and gloss.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Using design to inspire new possibilities</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">The FaceSmart project was already well underway when The Artificial was engaged. We helped to disrupt the ongoing work and solidify the existing thinking by creating additional architectural and visual design directions.</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<img src="images/facesmart_designs.png" alt="gestural design">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Letting data visualization lead the experience</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">FaceSmart revolves around two types of visualization: a single measurement of skin hydration and gloss and those measurements shown over time. We focused on finding the best way to communicate this data, knowing that these visualizations would be the user’s core experience.</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<img src="images/facesmart_data.png" alt="finding the perfect data visualization">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Keeping compromises minimal</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">We worked closely with the internal design and development team to make sure the design was implemented correctly and that compromises were considered and intentional when made.</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<img src="images/facesmart_flows.png" alt="ensuring quality through development">
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "KeyScenarios" %>
					<p>Key Scenarios</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Moodboards" %>
					<p>Moodboards</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "GesturalDesign" %>
					<p>Gestural Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DataVisualization" %>
					<p>Data Visualization</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DesignAssurance" %>
					<p>Design Assurance</p>
				</div>
			</div>
		</div>
	</div>

</section>
