<!-- page content -->
<section id="content">

	<div class="bleed grape-paletulip">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/sonicare-sims_cover.png" alt="Philips Sonicare in The Sims FreePlay">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container padded-bottom">
		<div class="col-12" >
			<div class="extra-padded">
				<h3 class="grape-text">Philips Sonicare wanted to capture new audiences by engaging them through casual gaming. Working with The Sims, we helped to choreograph an authentic experience between game and online retail.</h3>
			</div>
			<div class="padded">
				<h2>Connecting with a character</h2>
				<p>Philips Sonicare is a brand based on science, an attribute we wanted to highlight in the lighthearted and comedic context of The Sims FreePlay. We created a character, a scientist named Max, to bridge the gap between the real world and the Sims world.</p>
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/sonicare-sims_landing.jpg" alt="range of products">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/sonicare-sims_max.jpg" alt="interface flow diagram">
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<h2>Motivating through gameplay</h2>
				<p>We worked with Philips Sonicare and EA to define a series of branded in-game objects and goals to introduce users to the Philips Sonicare brand.</p>
			</div>
			<div class="padded">
				<h2>Removing friction</h2>
				<p>Success meant maintaining engagment through the transition from game play to purchase. We used a combination of Sims and Philips Sonicare elements to maintain consistency as the user moved from one world to the other. While we provided a number of options for users to learn more, these were secondary to the coupon itself.</p>
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<img src="images/sonicare-sims_site.jpg" alt="design guidelines documentation">
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container">
			<div class="col-12">
				<div class="padded">
					<h2>project artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "conceptgeneration" %>
					<p>concept generation</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "experiencejourney" %>
					<p>experience journey</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "keyscenarios" %>
					<p>key scenarios</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "uidesign" %>
					<p>UI design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "production" %>
					<p>production</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "promotion" %>
					<p>promotion</p>
				</div>
			</div>
		</div>
	</div>

</section>
