---
title: Philips Sonicare in The Sims FreePlay
date: 2015-04-07
snippet: "capturing new audiences through gaming"
thumbnail: sonicare-sims_cover.png
color: grape-paletulip
order: 9
---
<section id="content">

	<div class="bleed grape-paletulip">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/sonicare-sims_cover.png" alt="Philips Sonicare in The Sims FreePlay">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-grape-text label">Client</p>
					<p class="darkest-grape-text description">Philips Sonicare</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-grape-text label">Problem</p>
					<p class="darkest-grape-text description">Philips Sonicare wanted to capture new audiences by engaging them through casual gaming. Working with The Sims, we helped to choreograph an authentic experience between game and online retail.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We started by creating an expert Sim for players to relate to.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Philips Sonicare is a brand based on science, an attribute we wanted to highlight in the lighthearted and comedic context of The Sims FreePlay. We created a character, a scientist named Max, to bridge the gap between the real world and the Sims world.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<img src="images/sonicare-sims_landing.jpg" alt="Range of Products">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/sonicare-sims_max.jpg" alt="Interface Flow Diagram">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We used everyday game play to motivate the user.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>We worked with Philips Sonicare and EA to define a series of branded in-game objects and goals to introduce users to the Philips Sonicare brand.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/sonicare-sims_site.jpg" alt="Design Guidelines Documentation">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Conversion required a flow with as little friction as possible.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>Success meant maintaining engagment through the transition from game play to purchase. We used a combination of Sims and Philips Sonicare elements to maintain consistency as the user moved from one world to the other. While we provided a number of options for users to learn more, these were secondary to the coupon itself.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ConceptGeneration" %>
					<p>Concept Generation</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ExperienceJourney" %>
					<p>Experience Journey</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "KeyScenarios" %>
					<p>Key Scenarios</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>InterfaceDesign</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Assets" %>
					<p>Assets</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ProductPromotion" %>
					<p>Product Promotion</p>
				</div>
			</div>
		</div>
	</div>

</section>
