<!-- page content -->
<section id="content">

	<div class="bleed tulip-palepumpkin">
		<div class="flex container">
			<div class="col-6">
				<div class="padded">
					<img src="images/sonicare-breath_cover.png" alt="Sonicare Breath app">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-turquoise-text label">Client</p>
					<p class="darkest-turquoise-text description">Philips Sonicare</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-turquoise-text label">Problem</p>
					<p class="darkest-turquoise-text description">When Philips Sonicare decided to include a connected breath measuring device as part of their oral health offering, they approached The Artificial to help create an inspiring digital experience.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<img src="images/sonicare-breath_sketches.jpg" alt="Finding a Metaphor">
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We started by sketching in low-fidelity to find the perfect metaphor.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">Bad breath tends to yield unsightly visuals, especially in medical paraphernalia. The challenge was to find a metaphor that was both visually interesting while also hinting at the mechanics of what the product was doing.</p>
				<p class="large-body">At sketch fidelity, we quickly worked through dozens of options to narrow to the most motivating and on-brand visualizations.</p>
			</div>
		</div>
	</div>

	<div class = "bleed grey-10">
		<img src="images/sonicare-breath_exploration.jpg" alt="Exploring Visual Design Directions">
		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="subtitle">We explored the metaphor through multiple executions to better understand our clients’ needs.</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p>After establishing the metaphor, we explored a handful of design directions, ranging from literal to representative, and flat to dimensional – ensuring that the client had a comprehensive view of possibilities. After many iterations working closely with the internal team, we selected an approach that visualized the particles of breath being sucked into the measuring device.</p>
					<p>The result is a design direction that features a gentle animation of particles to mimic the activity occurring in the device. The results screen shows the same particles in a way that signals to the user the quality of their breath, while being sensitive to their privacy.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6">
			<div class="padded">
				<img src="images/sonicare-breath_animation.gif" alt="Studying Motion">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/sonicare-breath_structure.jpg" alt="Extending the Design">
			</div>
		</div>
	</div>

	<div class="flex container padded-bottom">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">We structured the experience considering current and future requirements.</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p>After establishing the hero experience, we established an interaction model that allowed for an expanding feature set.</p>
				<p>We began with the basics – mapping out how the user would move between current results, historic data, and oral health advice. From here, we had a strong structure for future features and iterations.</p>
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Moodboards" %>
					<p>Moodboards</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ConceptGeneration" %>
					<p>Concept Generation</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "GesturalDesign" %>
					<p>Gestural Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InteractionModel" %>
					<p>Interaction Model</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "KeyScenarios" %>
					<p>Key Scenarios</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "InterfaceDesign" %>
					<p>Interface Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "MotionDesign" %>
					<p>Motion Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "FlowDiagram" %>
					<p>Flow Diagram</p>
				</div>
			</div>
		</div>
	</div>

</section>
