---
title: Vaventis Smart Home Dashboard
date: 2013-09-01
snippet: "visualizing air quality data for the connected home"
thumbnail: vaventis_cover.png
color: sapphire-paleturquoise
order: 4
---
<section id="content">

	<div class="bleed sapphire-paleturquoise">
		<div class="flex container">
			<div class="col-6 left-3 right-3">
				<div class="padded">
					<img src="images/vaventis_cover.png" alt="Fresh-r Dashboard">
				</div>
			</div>
		</div>

		<div class="flex container extra-vertical">
			<div class="col-4">
				<div class="padded">
					<p class="dark-dandelion-text label">Client</p>
					<p class="darkest-dandelion-text description">Vaventis</p>
				</div>
			</div>
			<div class="col-8">
				<div class="padded">
					<p class="dark-dandelion-text label">Problem</p>
					<p class="darkest-dandelion-text description">Fresh-r is an air purifier that continuously measures CO2, particulate matter, and air humidity, and ventilating when necessary. We worked with Vaventis to design a visualization that shows the benefits of the product and that brings meaning to the data.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Understanding the product and its context</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">While best practices are still emergent, the Smart Home is hardly new. We began by looking at best-in-class experiences and developing some provocations. For example, should the product feel more about fitting into the home or more about the data being displayed?</p>
			</div>
		</div>
	</div>

	<div class="bleed">
		<img src="images/vaventis_exploration.png" alt="designing data for the home">
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Breaking apart the data for a better understanding</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">Not all data should be visualized in the same way. We assessed each individual type of data to find the most effective combinations and visualizations for each.</p>
			</div>
		</div>
	</div>

	<div class="bleed cool-grey-10">
		<div class="flex container extra-vertical">
			<div class="col-12">
				<div class="padded">
					<img src="images/vaventis_explorations.png" alt="generating then reducing and refining">
				</div>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-4">
			<div class="padded">
				<p class="subtitle">Optimizing designs with real data</p>
			</div>
		</div>
		<div class="col-8">
			<div class="padded">
				<p class="large-body">We built a prototype using D3 so that we could generate visualizations from actual data. From this, we were able to tweak visualization rules and recommend smoothing formulas for the most meaningful output.</p>
			</div>
		</div>
	</div>

	<div class="flex container extra-vertical">
		<div class="col-6">
			<div class="padded">
				<img src="images/vaventis_prototype.gif" alt="creating a prototype to work with different data sets">
			</div>
		</div>
		<div class="col-6">
			<div class="padded">
				<img src="images/vaventis_data.png" alt="designing to actual data">
			</div>
		</div>
	</div>

	<div class="bleed artifacts">
		<div class="flex container double">
			<div class="col-12">
				<div class="padded">
					<h2>Project Artifacts</h2>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "ConceptGeneration" %>
					<p>Concept Generation</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Moodboards" %>
					<p>Moodboards</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "GesturalDesign" %>
					<p>Gestural Design</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "DataVisualization" %>
					<p>Data Visualization</p>
				</div>
			</div>
			<div class="col-2">
				<div class="padded">
					<%= artifact_icon "Prototype" %>
					<p>Prototype</p>
				</div>
			</div>
		</div>
	</div>

</section>
