<% content_for :javascript_tags do %>
	<%= javascript_include_tag 'jquery.color-2.1.2' %>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.js'></script>
<% end %>

<% content_for :stylesheet_tags do %>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.13.1/mapbox-gl.css' rel='stylesheet' />
<% end %>
<section id="content">

<!-- page content -->
	<div class="bleed turquoise-palegrass">
		<div class="flex container">
			<div class="col-10 left-1 right-1 section">
				<div class="padded center dark-text">
					<h1>About Us</h1>
					<h2>We are a boutique UX agency located in Amsterdam.</h2>
					<p>We believe in making over talking and convey our ideas through sketches, pixels, and prototypes. We're excited to learn new techniques and technologies, especially if it means creating a better product.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="bleed" style="background-image: url(images/us.jpg); height: 480px; margin: auto; background-position: top center;">
	</div>

	<div class="section">
		<div class="flex container">
			<div class="col-10 left-1 right-1">
				<div class="padded center light-text">
					<h2 class="statement">Collaboration is at the core of what we do.</h2>
					<p>We've studied psychology, computer science, painting, printmaking, advertising, computer arts, graphic and digital design, and industrial design. We love color, typography, generative systems, and interactive media. The combination of our diverse backgrounds helps us find unique solutions.</p>
					<p>Are you a designer? We aren't actively hiring right now, but we're always interested in meeting new people.</p>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<a href="https://theartificial.recruitee.com/o/designer">
						<p class="hiring-button">Apply</p>
					</a>
				</div>
			</div>
			<!-- <div class="col-4">
				<div class="padded">
					<a href="artificialdesigner.html">
						<p class="hiring-button">Artificial designer</p>
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<div class="bleed">
		<div id="map" class="map"></div>
		<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoidmVyeWFydGlmaWNpYWwiLCJhIjoiY2lrZWUwbGJiMDAzcnYybTJ4eno2NHV4dCJ9.puo-HH5dh9QqhZ3XaqHIuw';

		var map = new mapboxgl.Map({
		    container: 'map', // container id
		    style: 'mapbox://styles/veryartificial/cikee8wah00eocekq7zxpw3gc',
		    center: [4.886719, 52.371355],
		    zoom: 13,
				interactive: false
		});

		var tooltip = new mapboxgl.Popup({closeButton: false, closeOnClick: false, anchor: "right"})
    .setLngLat([4.886719, 52.371355])
    .setHTML('Herengracht 266')
    .addTo(map);

		</script>
		<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .marker-title {
        font-weight: 700;
    }
</style>
	</div>

	<div class="bleed turquoise-palegrass">
		<div class="section">
			<div class="flex container">
				<div class="col-12">
					<div class="padded center dark-text">
						<h2 class="statement">We are The Artificial</h2>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center">
						<%= link_to_person_logo 'shannon', {class: 'dark-fill'} %>
						<p><%= link_to_person 'shannon', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center">
						<%= link_to_person_logo 'hans', {class: 'dark-fill'} %>
						<p><%= link_to_person 'hans', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center">
						<%= link_to_person_logo 'carol', {class: 'dark-fill'} %>
						<p><%= link_to_person 'carol', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center">
						<%= link_to_person_logo 'ariane', {class: 'dark-fill'} %>
						<p><%= link_to_person 'ariane', {class: 'dark-text'} %></p>
					</div>
				</div>

				<div class="col-4">
					<div class="padded center">
						<%= link_to_person_logo 'natalia', {class: 'dark-fill'} %>
						<p><%= link_to_person 'natalia', {class: 'dark-text'} %></p>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>
