  <% content_for :stylesheet_tags do %>
    <%= stylesheet_link_tag "cocktails.css" %>
  <% end %>
  <section id="content">

    <div class="flex container">
      <div class="col-10 left-1 right-1 section-title">
        <div class="padded center">
        <h1 class="title"><%= cocktail.name %></h1>
        <p class="date"><%= cocktail.date.strftime('%B %e, %Y') %></p>
        <h3 class="bartender">Mixed by <%= link_to_person cocktail.author %></h3>
        <img class="rating" src="images/rating<%= cocktail.rating %>.png">
        </div>
      </div>
    </div>

    <div class="flex container padded-bottom recipe">
      <div class="col-6">
        <div class="padded drinkcontainer">
          <img class="static" alt="<%= cocktail.name %>" src="<%= "images/glass/#{cocktail.glass}.png" %>">
          <img class="animated" src="<%= "images/contents/#{cocktail.contents}.gif" %>">
        </div>
      </div>

      <div class="col-6">
        <div class="padded">
          <%= cocktail.html.html_safe %>
        </div>
      </div>
    </div>

    <%
      this_date = cocktail.date
      this_name = cocktail.name
      older_drinks = data.cocktails.select{ |c| (c.date <= this_date) && (c.date == this_date ? c.name < this_name : true) }
      next_drink = older_drinks.max_by{ |c| [c.date, c.name] }
      younger_drinks = data.cocktails.select{ |c| (c.date >= this_date) && (c.date == this_date ? c.name > this_name : true) }
      prev_drink = younger_drinks.min_by{ |c| [c.date, c.name] }
    %>

    <div class="flex container local-nav">
      <div class="col-4 left">
        <% if prev_drink %>
        <div class="padded">
          <% link_to "#{prev_drink.slug}.html" do %>
            <h4>Newer cocktail</h4>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="col-4">
        <div class="padded">
          <a href=".">
            <h4>Overview</h4>
          </a>
        </div>
      </div>
      <div class="col-4 right">
        <% if next_drink %>
        <div class="padded">
          <% link_to "#{next_drink.slug}.html" do %>
            <h4>Older cocktail</h4>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

  </section>
