---
pageable: true
per_page: 10
---

<div id="blog">
  <div class="titlespace allposts">
    <div class="pale"><h1 class="blogtitle">The Artificial Blog</h1></div>
  </div>
  
  <div class="pale">

    <div class="pagination">
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>
    </div>

<% page_articles.each_with_index do |article, i| %>
  <div class="blog-preview">
    <% if (i.odd?) %>
      <% link_to article do %>
        <img class="imgpreview" width="600" height="400" src="<%= "#{article.url[/.*(?=\..+$)/]}/-preview.png" %>">
      <% end %>
      <div class="textpreview">
        <h2>
          <%= link_to article.title, article %>
        </h2>
        <div class="summary">
          <%= article.summary(180, '…') %>
        </div>
        <div class="author"><%= sitemap.find_resource_by_path("/people/#{article.data.author}.html").data.title %></div>
        <div class="date"><%= article.date.strftime('%B %e, 0%Y') %></div>
      </div>
    <% else %>
      <div class="textpreview">
        <h2>
          <%= link_to article.title, article %>
        </h2>
        <div class="summary">
          <%= article.summary(180, '…') %>
        </div>
        <div class="author"><%= sitemap.find_resource_by_path("/people/#{article.data.author}.html").data.title %></div>
        <div class="date"><%= article.date.strftime('%B %e, 0%Y') %></div>
      </div>
      <% link_to article do %>
        <img class="imgpreview" width="600" height="400" src="<%= "#{article.url[/.*(?=\..+$)/]}/-preview.png" %>">
      <% end %>
    <% end %>
  </div>
<% end %>

    <div class="pagination">
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
    </div>
    
  </div>
</div>
