<%
  article_path = article.path[/.*(?=\..+$)/]
  if preview = find_image(article_path + '/-preview')
    preview_url = preview.url
  else
    preview_url = "/blog/2014/03/17/test/-preview.png"
  end
%>
<div class="col-4 packed">
	<div class="card blog-preview <%= article.data.category %>">
		<div class="double-padded">
			<h5><%= link_to article.data.category, article %></h5>
				<h3><%= link_to article.title, article %></h3>
			 	<p><%= sitemap.find_resource_by_path("/people/#{article.data.author}.html").data.title %></p>
			<p><%= article.date.strftime('%B %e, 0%Y') %></p>
		</div>
	</div>
</div>
