---
layout: multiple_layout
---

<script type="text/javascript">
  // when the DOM is ready...
  $('document').ready(function(){
    // carousel
    $('#carousel').theArtificialCarousel({
      scrollingSelector: '.scrolling',
      overlaySelector: '.overlay',
      ga: false
    });
  });
</script>

<!-- page content -->
<section id="content">
	
	<!-- carousel -->
	<!-- sets the backgrounds for the carousel slides-->
	<style>
	    #slide-one, #f-slide-one {
	        background:url('images/carousel-3ds.jpg') no-repeat center center;
	        background-size: cover;
	    }
	    #slide-two, #f-slide-two {
	        background:url('images/carousel-startups.jpg') no-repeat center center;
	        background-size: cover;
	    }
	    #slide-three, #f-slide-three {
	        background:url('images/carousel-death.jpg') no-repeat center center;
	        background-size: cover;
	    }
			#slide-four, #f-slide-four {
	        background:url('images/carousel-icon.png') no-repeat center center;
	        background-size: cover;
	    }
			#slide-five, #f-slide-five {
	        background:url('images/carousel-pilogs.jpg') no-repeat center center;
	        background-size: cover;
	    }==

	/* Retina targeting */
	@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
	        #slide-3ds {
	            background:url('images/carousel-3ds@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
	        #slide-startups {
	            background:url('images/carousel-startups@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
	        #slide-death {
	            background:url('images/carousel-death@2x.jpg') no-repeat center center;
	            background-size: cover;
	        }
					#slide-icon {
			        background:url('images/carousel-icon@2x.png') no-repeat center center;
			        background-size: cover;
			    }
					#slide-pilogs {
			        background:url('images/carousel-pilogs@2x.jpg') no-repeat center center;
			        background-size: cover;
			    }    
	    }
	</style>
	
	<div id="carousel">
		<div class="overlay-background">
			<div class="container">
				<div class="padded">
					<div class="overlay" id="overlay-one">
						<h2>Designing tools for creators</h2>
						<p>We worked with 3D Systems to transition a series of pointer interfaces into touch tools for both their professional and consumer product lines. </p>
					</div>
					<div class="overlay" id="overlay-two">
						<h2>Working with startups</h2>
						<p>We've helped a handful of startups make create delightful experiences and understandible products from complex ideas.</p>
					</div>
					<div class="overlay" id="overlay-three">
						<h2>Anticipating the future</h2>
						<p>We use today's technology to imagine potential futures, anticipating the needs of future humans and industries.</p>
					</div>
					<div class="overlay" id="overlay-four">
						<h2>Perfecting the details</h2>
						<p>We take pride in all we create. With to [icon] we've created hundreds of pixel-perftect icon sets which we share under the Creative Commons Attribution license.</p>
					</div>
					<div class="overlay" id="overlay-five">
						<h2>Building tools for ourselves</h2>
						<p>If it doesn't exist, we'll build it ourselves. Such is the case with PIlogs, a tool for making the quantified self beautiful.</p>
					</div>
				</div>
			</div>
		</div>
	  <div class="scrolling">
	    <ol class="scrolling-wrapper">
	      <li class="slide" id="slide-one"
	          data-overlay="#overlay-one"
	          >&nbsp;</li>
	      <li class="slide" id="slide-two"
	          data-overlay="#overlay-two"
	          >&nbsp;</li>
	      <li class="slide" id="slide-three"
	          data-overlay="#overlay-three"
	          >&nbsp;</li>
	      <li class="slide" id="slide-four"
	          data-overlay="#overlay-four"
	          >&nbsp;</li>
	      <li class="slide" id="slide-five"
	          data-overlay="#overlay-five"
	          >&nbsp;</li>
	    </ol>
	  </div>
	</div>
	
	<!-- cards -->
	<div class="container packery">

		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/fandom"><img src="/laboratory/images/toicon_fandom.png"></a>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="laboratory/images/cake_overview.jpg">
				<div class="padded">
					<h1>The Future of Cake</h1>
					<p>The future is almost here, and it's delicious!</p>
					<a href="http://www.futureofcake.com">Taste the future</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="work/images/3DS_professional_range.jpg">
				<div class="padded">
					<h4>3D Systems Professional Tools</h4>
					<p>We worked with 3D Systems to create a design language for their professional product line.</p>
					<a href="work/3DSystems-professional.html">Learn more about this project</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="work/images/monolith_workshop.jpg">
				<div class="padded">
					<h4>Monolith</h4>
					<p>We did a series of short workshops with Monolith to evolve and refine their product.</p>
					<a href="work/monolith.html">Learn more</a>
				</div>
			</div>
		</div>
		<% page_articles.take(1).each_with_index do |article, i| %>
		<%
		  article_path = article.path[/.*(?=\..+$)/]
		  if preview = find_image(article_path + '/-preview')
		    preview_url = preview.url
		  else
		    preview_url = "/blog/2014/03/17/test/-preview.png"
		  end
		%>
				
    <% link_to article do %>
		<div class="col-4 packed">
			<div class="card">
				<div class="padded">
      		<img class="imgpreview" src="<%= preview_url %>">
    <% end %>
				</div>
				<div class="padded center">
   				<h2><%= link_to article.title, article %></h2>
    			<%= article.summary(180, '…') %>
				</div>
				<div class="padded center">
   			 	<h5><%= sitemap.find_resource_by_path("/people/#{article.data.author}.html").data.title %> | <%= article.date.strftime('%B %e, 0%Y') %></h5>
				</div>
			</div>
		</div>
					
		<% end %>	
			
		<div class="col-4 packed">
			<div class="card center">
				<img src="images/img_dribbble.png">
				<div class="padded">
					<a href="https://dribbble.com/VeryArtificial">Catch our latest shots on dribbble</a>
				</div>
			</div>
		</div>
	
		<div class="col-4 packed">
			<div class="card center">
					<a href="http://www.toicon.com/series/flat-shadows"><img src="laboratory/images/toicon_flatshadows.png"></a>
			</div>
		</div>
	
		<div class="col-4 packed">
			<div class="card center">
				<img src="work/images/knowledgesharing_guidelines.jpg">
				<div class="padded">
					<h4>Knowledge Sharing</h4>
					<p>Combining tried-and-true approaches with new ideas can lead to exciting results. We've worked with a handful of startups to form these unique ideas into designs that users can use without having to learn an entirely new set of interactions.</p>
					<a href="work/knowledgesharing.html">Learn more about this project</a>
				</div>
			</div>
		</div>
		
		<div class="col-4 packed">
			<div class="card center">
				<img src="laboratory/images/death_faceblimp.jpg">
				<div class="padded">
					<h4>The Future of Death</h4>
					<p>Prompted by Design Boom's Design for Death competition, we spent a week exploring ideas for how we might treat death in the future.</p>
					<a href="laboratory/futureofdeath.html">See what we came up with</a>
				</div>
			</div>
		</div>
	
	</div>
		
</section>
